{
  "openapi": "3.0.3",
  "info": {
    "title": "Code Generators Comparison App Multiple Auths",
    "description": "This is a sample spec to compare SDKs generated by different code generators.",
    "termsOfService": "http://example.com/terms/",
    "contact": {
      "name": "API Support",
      "url": "http://www.example.com/support",
      "email": "support@example.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://development.gigantic-server.com/v1",
      "description": "Development server"
    },
    {
      "url": "https://staging.gigantic-server.com/v1",
      "description": "Staging server"
    },
    {
      "url": "https://api.gigantic-server.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/cars/{cnic}": {
      "get": {
        "tags": [
          "cars"
        ],
        "security": [],
        "description": "Returns cars based on CNIC with apiKey and  httpBasic security",
        "summary": "Find cars by CNIC",
        "operationId": "getCarsByCNIC",
        "responses": {
          "200": {
            "description": "car response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Car"
                  }
                }
              }
            }
          },
          "default": {
            "description": "error payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "cnic",
          "in": "path",
          "description": "CNIC of a person",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/carsbyid/{id}": {
      "get": {
        "tags": [
          "cars"
        ],
        "security": [
          {
            "httpBasic": []
          },
          {
            "apiKey": []
          }
        ],
        "description": "Returns cars based on ID with apiKey or httpBasic security",
        "summary": "Find cars by ID",
        "operationId": "getCarsById",
        "responses": {
          "200": {
            "description": "car response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Car"
                  }
                }
              }
            }
          },
          "default": {
            "description": "error payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID of a person",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "style": "simple"
        }
      ]
    },
    "/carsbyname/{name}": {
      "get": {
        "tags": [
          "cars"
        ],
        "security": [
          {
            "apiKeyHeader": [],
            "httpBasic": []
          }
        ],
        "description": "Returns cars based on NAME with apiKeyHeader and httpBasic security",
        "summary": "Find cars by Name",
        "operationId": "getCarsByName",
        "responses": {
          "200": {
            "description": "car response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Car"
                  }
                }
              }
            }
          },
          "default": {
            "description": "error payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "description": "Name of a Car",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "ErrorModel": {
        "title": "ErrorModel",
        "type": "object",
        "required": [
          "message",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "minimum": 100,
            "maximum": 600
          }
        }
      },
      "Car": {
        "title": "Car",
        "type": "object",
        "required": [
          "name",
          "ownerEmail",
          "numberPlate",
          "previousOwners"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "numberPlate": {
            "type": "string"
          },
          "ownerEmail": {
            "type": "string",
            "format": "email",
            "nullable": false
          },
          "previousOwners": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "httpBasic": {
        "type": "http",
        "scheme": "basic"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "apiKey": [],
      "httpBasic": []
    }
  ],
  "tags": [
    {
      "name": "cars",
      "description": "Car operations"
    }
  ]
}